
.marginTop{
    margin-top: 30px;
    
}

.marginBot{
    margin-bottom: 20px;
}

.footer{
    background-color:#f3f9fc;
    padding-top: 20px;
}

.body{
    background-color:#fcfcfc;
}

.marginBorder{
    margin-left: 5px;
    margin-right: 5px
}

.header{
    background-color:#f3f9fc;
}

.logo{
    width: 70%;
    height: 100%;
    margin-left: 1em
}

.img{
    width: 100%;
    height: 90%;
}

.font{
    font-size: 20px;
}

.border{
    border-bottom: solid 1px
}
